/* body{
    background-image: url('/IMG/blackmarblebackground.jpg');
    color: white;
} */

body::before {
    content: "";
    background-image: url(./IMG/blackbkg.png);
    background-position: center;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* opacity: 0.6; */
  }

.img-home{
    display:flex;
    justify-content: center;
    margin-top: 20px;

}

.social{
    width:600px;
    opacity: 0.8;
    box-shadow: 10px 10px gold;

}

.content-home{
    text-align: center;
    background: rgba(255, 255, 255, 0.486);
    margin-top: 100px;
    padding-bottom: 30px;
    padding-top: 30px;

}

.content-about{
    margin-top: 20px;
    text-align: center;
    background: rgba(255, 255, 255, 0.486);
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 20px;
}

.content-contact{
    /* margin-left: 300px;
    margin-right: 300px;
    margin-top: 100px; */
    /* border: 5px solid black; */
    padding: 30px;   
    color:;
}

.services{
    border: 5px solid black;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 20px;
    color:aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
   
}

.service img{
    padding: 20px;
}

#serviceh2{
    margin-bottom: 50px;
}

#phillyskyline{
    width:600px;
    opacity: 0.9;

}
.welcome{
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.336);
}


.aboutheading{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.aboutpara{
    padding: 30px;
}

.aboutpara2{
    padding-bottom: 30px;
    
}
#aboutimg1{
    width: 400px;
    box-shadow: 10px 10px gold;
}

.owner{
    background-color: rgba(255, 217, 0, 0.301);
    margin: 100px;
}

.col{
    border: 5px solid;
}

.col2{
    margin-top: 50px;
}

.form{
    font-weight: bold;
    padding: 10px;
}

input, textarea{
    background-color: rgba(255, 255, 255, 0.336);
}

button{
    margin-top: 20px;
}

.aboutimg{
    width:300px;
    height: 300px;
    padding-bottom: 30px;
}

.rotate{
    width: 350px;

}

.quote{
    margin-bottom: 30px;
}

#btn, #contacth3{
    margin-bottom: 30px;
    margin-top: 30px;
}

#contacth2, #contacth3{
    text-decoration: underline;
}

#helloquote{
    width: 1000px;
}

#container2{
    
}

#brands, #events, #popups, #spotlights{
    background-color: rgba(255, 255, 255, 0.336);
    
}

#events_container h3{
    text-decoration: underline;
}

#brands, #events{
    display: flex;
    justify-content: space-around;

}

#jusssjesss, #candles, #cakes, #tata, #blkevent, #scrubs1, #scrubs2, #scrubs3, #interview{
    border: 1px solid black;
    box-shadow: 5px 5px 5px 5px gray;
    margin-top: 20px;
    margin-bottom: 20px;
}

#interview{
    margin: 100px;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.336);
}

#interview p{
    font-weight: bold;
    margin: 50px;
}

#popups p {
    font-size: 20px;
    font-weight: bold;
}

#scrubs h3{
    color: gold;
    margin-top: 30px;

}

#scrubs h3:hover{
 color: black;
 font-size: 48px;
}
/* #nav {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    border-style: double;
    font-size: 20px;
}

.section1{
    background-color: black;
}

.section2{
    background-color: black;
}


h1{
    color: white;
}



a, a:visited{
    color:white;
}

a:hover{
    color: gold;
}

.light{
    color:white;
    text-align: center;
    font-size:
}

#blk{
    font-family: 'Great Vibes', cursive;
    /* font-family: 'Dancing Script', cursive; */
}

/* p{
    text-align: center;
}

/* About page */

/* .aboutpara{
    font-size: 20px;
    color: black;
    text-align: center;
    border: 1px solid white;
    background-color: white;
    padding: 15px;
    border-radius: 20%;
}

.aboutcontent{
    width: 500px;
    padding-left: 500px;
}

#aboutheading{
    text-align: center;
    text-decoration: underline;
}

#aboutimg1{
    width:500px;
}

/* contact page */

 */